@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$color: #4099FF;
body
{
  font-family: 'PT Sans';
  margin: 0;
  background: #DD1D3D;
}
.container
{
  width: 300px;
  height: 150px;
  margin: 2em auto;
  padding: 2em;
  background: #ECF391;
  font-size: 2.5em;
  /* centrado del contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Border de visualizacion de limite */
  border: 2px solid black;
}
.container{
  // box-shadow: 0 0 0 10px $color inset;  


  // box-shadow: 0 10px $color inset,
  //             10px 0 red inset,
  //             0 -10px $color inset,
  //             -10px 0 red inset;
  
  // box-shadow: 0 0 0 10px $color inset;  
  // box-shadow: -10px 0 $color inset,
  //             10px 0 $color inset,
  //             0 10px $color inset,
  //             0 -10px $color inset;
//   box-shadow: -10px -10px $color inset;
//   box-shadow: 10px 10px 0 10px $color inset;
//   box-shadow: h v difuminado extension $color;
}