*
{
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container
{
    position: relative;
}
img{
    max-width: 100%;
    /* clip-path: inset(0 9.5% 0 2.5%); */
    /* clip-path: circle();  */
    /* clip-path: circle(40% at center); */
    /* clip-path: circle(40% at center); */
    /* clip-path: circle(30% at 0 100%); */
    /* clip-path: ellipse(); */
    /* clip-path: ellipse(50% 50% at center); */
    /* clip-path: polygon(0 0,100% 0,0 100%); */
    clip-path: polygon(0 0,100% 0,0 100%);
}
p{
    /* display: none; */
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.2;
    /* clip-path: polygon(100% 0,100% 100%,0 100%); */
}
p:last-child{
    clip-path: polygon(0 0,100% 0,0 100%);
    color: aliceblue;
}